button {
  text-align: center;
  display: block;
  background-color: white;
  border:5px solid aqua;
  color:blue;
  transition-duration:0.49s;
}
button:hover {
  background-color:aqua;
  color:white;
}
